RewriteEngine On

RewriteCond %{REQUEST_URI} mjerabek\.cz/?([^/]*)$
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} index\.html [OR]
RewriteCond %{REQUEST_FILENAME} index\.php
RewriteRule ^(.*)$ index.php [L,QSA]