/*====================================================================*/
/*-------------------------------- BTN -------------------------------*/
/*====================================================================*/

.btn {
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;

    display: inline-flex;

    margin-bottom: 1px; /*Android nezobrazuje border*/

    font-family: inherit;
    text-decoration: none;
    text-align: center;

    color: inherit;
    background: none;
    border: 1px solid currentColor;
    border-radius: 0px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;

    pointer-events: auto;
    touch-action: manipulation;

    transition: all 0.275s cubic-bezier(.5, .25, .5, 1) 0s;
}

@media (min-width: 768px) {

    .btn {
        min-width: 240px;
        min-height: 52px;
        padding: 8px 40px;
    }

    _:-ms-fullscreen, :root .btn {
        padding-top: 13px;
    }

    .btn .text {
        font-size: 1.4375rem;
        line-height: 1.4375rem;
    }

    .btn--special-small,
    .btn--small {
        min-width: 120px;
        min-height: 40px;
        padding: 4px 32px;
    }

    _:-ms-fullscreen, :root .btn--special-small,
    _:-ms-fullscreen, :root .btn--small {
        padding-top: 10px;
    }

    .btn--special-small .text {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    .btn--special-small .text .small {
        font-size: 1.0625rem;
    }

    .btn--small .text {
        font-size: 1.1875rem;
        line-height: 1.1875rem;
    }
}

@media (max-width: 767px) {

    .btn {
        min-width: 224px;
        min-height: 48px;
        padding: 8px 32px;
    }

    _:-ms-fullscreen, :root .btn {
        padding-top: 12px;
    }

    .btn .text {
        font-size: 1.25rem;
        line-height: 1.4375rem;
    }

    .btn--special-small {
        min-width: 96px;
        min-height: 32px;
        padding: 4px 24px;
    }

    _:-ms-fullscreen, :root .btn--special-small {
        padding-top: 7px;
    }

    .btn--special-small .text {
        font-size: 1.0625rem;
        line-height: 1.0625rem;
    }

    .btn--special-small .text .small {
        font-size: 0.875rem;
    }
}

@media (max-width: 799px) {

    _:-ms-fullscreen, :root .btn--small {
        padding-top: 8px;
    }

    .btn--small {
        min-width: 96px;
        min-height: 36px;
        padding: 6px 24px;
    }

    .btn--small .text {
        font-size: 1.0625rem;
        line-height: 1.0625rem;
    }
}

.btn .text {
    padding-bottom: 1px;
    margin: auto;

    font-weight: inherit;
}

.ff-android .btn .text {
    padding-bottom: 2px;
}

.apple .btn .text,
.android .btn .text {
    padding-top: 1px;
    padding-bottom: 0;
}

.btn::-moz-focus-inner {
    padding: 0;

    border: 0;
}

.btn:hover,
.btn:focus {
    outline: none;

    transition: all 0.125s ease-out 0s;
}

.btn:focus-visible {
    outline: 2px solid rgb(0, 0, 0);
}

.inverse-focus .btn:focus-visible {
    outline: 2px solid rgb(255, 255, 255);
}

.btn:active {
    transition: all 0.05s ease-out 0s;
}

.btn--light {
    font-weight: 400;

    color: #C9B47F;
}

.btn--light:hover,
.btn--light:focus {
    color: #fff;
    background-color: #6595A9;
    border-color: #6595A9;
}

.btn--light:active {
    color: #78A7BB;
    background-color: transparent;
    border-color: #78A7BB;
}

.btn--dark {
    font-weight: 400;

    color: #7B6839;
}

.btn--dark:hover,
.btn--dark:focus {
    color: #fff;
    background-color: #498095;
    border-color: #498095;
}

.btn--dark:active {
    color: #3C6474;
    background-color: transparent;
    border-color: #3C6474;
}

.btn--light.btn--error {
    color: #BF865E;
    border-color: #BF865E;
    background-color: transparent;
}

.btn--light.btn--error:hover,
.btn--light.btn--error:focus {
    color: #fff;
    border-color: #BF865E;
    background-color: #BF865E;
}

.btn--light.btn--error:active {
    color: #B3794E;
    border-color: #B3794E;
    background-color: transparent;
}

/*--------------------------------------------------------------------*/
/*------------------------ PROGRESS-ANIMATION ------------------------*/
/*--------------------------------------------------------------------*/

.btn--progress {
    cursor: wait;
}

    .btn .text {
        transition: opacity 0.25s linear 0.25s;
    }

    .btn--progress .text {
        opacity: 0;

        transition: opacity 0.25s linear 0s;
    }

    .btn .progress-animation {
        position: absolute;
        top: 1px;
        left: 1px;

        height: 100%;
        width: 100%;
        margin: auto;

        font-size: 1.0625rem;
        line-height: 0;

        opacity: 0;
        visibility: hidden;

        overflow: hidden;

        transition: opacity 0.25s linear 0s,
            visibility 0s linear 0.25s;
    }

    .btn--progress .progress-animation {
        opacity: 1;
        visibility: visible;

        transition: opacity 0.25s linear 0.25s;
    }

        .btn .numbers {
            position: absolute;
            top: 0;
            right: 0%;
            bottom: 1px;

            height: 0;
            margin: auto;

            transform: translateX(0%);
        }

        .android .btn .numbers,
        .apple .btn .numbers {
            top: 3px;
        }

        .btn--progress .numbers {
            transition: opacity 0.25s linear 0.25s;
            animation: btn__progress--move 3s linear 0s infinite forwards;
        }

        @media (max-width: 767px) {

            .btn--progress .numbers {
                animation-name: btn__progress--move-mobile;
            }
        }

        @keyframes btn__progress--move {
            0% {
                transform: translateX(50%);
                transform: translateX(calc(100% - 240px));
                transform: translateX(calc(100% - 240px + 1ch));
            }
            100% {
                transform: translateX(0%);
                transform: translateX(-1ch);
            }
        }

        @keyframes btn__progress--move-mobile {
            0% {
                transform: translateX(50%);
                transform: translateX(calc(100% - 224px));
                transform: translateX(calc(100% - 224px + 1ch));
            }
            100% {
                transform: translateX(0%);
                transform: translateX(-1ch);
            }
        }
