/*====================================================================*/
/*-------------------------- GENERAL STYLES --------------------------*/
/*====================================================================*/

html,
body {
    height: 100%;
}

body {
    min-width: 320px;

    font-family: "Josefin Sans", sans-serif;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

s {
    text-decoration: line-through;
}

/* Zobrazí inline obsah před/za elementem podle jeho data-atributu.
 * Vhodné pro oddělení obsahu. */
[data-before]:before {
    content: attr(data-before);
}

[data-after]:after {
    content: attr(data-after);
}

/* Skryje obsah podle velikosti viewportu. */
@media (min-width: 1024px) {

    html .x-desktop.x-desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    html .x-tablet.x-tablet {
        display: none;
    }
}

@media (max-width: 767px) {

    html .x-mobile.x-mobile {
        display: none;
    }
}

/* Skryje obsah, pokud je zapnutý/vypnutý JavaScript. */
html.no-js .x-no-js,
html.js .x-js,
.no-js .if-no-js-hidden,
.js .if-js-hidden {
    display: none;
}

/* Vyzuálně skryje obsah, ale zůstane přístupný. */
.js .if-js-visually-hidden,
.visually-hidden {
    position: absolute;

    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;

    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*--------------------------------------------------------------------*/
/*------------------------------ LAYOUT ------------------------------*/
/*--------------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

/* Zajišťuje, aby byla patička vždy dole.
 * Nastavení velikosti je v page-footer.css. */
.layout__push-footer {
    min-height: 100%;
}

.layout__push-footer:after {
    content: "";

    display: block;
}

.layout__half {
    width: 50%;
}

.layout__third {
    width: 33.3333%;
    width: calc(100% / 3);
}

.layout__quarter {
    width: 25%;
}

.layout__left {
    float: left;
}

.layout__right {
    float: right;
}

.layout__clear {
    clear: both;
}

/* Zarovná osbah do středu stránky. */
.layout__center {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0px auto;
}

@media (max-width: 767px) {

    .layout__center {
        padding: 0 20px;
    }
}

/* Zalomí inline obsah podle velikosti viewportu. */
.layout__br--all:before {
    content: "\A";

    display: block;

    white-space: nowrap;
}

@media (min-width: 1024px) {

    .layout__br--desktop:before {
        content: "\A";

        display: block;

        white-space: nowrap;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .layout__br--tablet:before {
        content: "\A";

        display: block;

        white-space: nowrap;
    }
}

@media (max-width: 767px) {

    .layout__br--mobile:before {
        content: "\A";

        display: block;

        white-space: nowrap;
    }
}


.intro__logo-svg {
    transform: scale(1.5) rotate(45deg);

    opacity: 0;

    animation: show-logo-svg 3s cubic-bezier(.2, .7, .5, 1) 0s forwards 1;
    will-change: transform;
}

.intro__logo-svg + .intro__logo-svg {
    margin-left: -100px;

    animation: show-logo-svg 3s cubic-bezier(.2, .7, .5, 1) 0.2s forwards 1;
}

.intro__logo-svg path {
    stroke-width: 1;
    stroke-dasharray: 180;
    stroke-dashoffset: -180;

    will-change: transform;
}

.intro__logo-svg path:nth-child(2) {
    display: none;
}

.intro__logo-svg + .intro__logo-svg path:nth-child(2) {
    display: block;
}

.intro__logo-svg + .intro__logo-svg path:nth-child(1) {
    display: none;
}

.intro__logo-svg path:nth-child(1) {
    transform: translateY(10px);

    stroke: #111111;
    fill: transparent;

    animation: show-logo-path-draw 1.5s cubic-bezier(.5, .15, .65, .9) 0s forwards 1,
        show-logo-path-transform 3s cubic-bezier(.2, .7, .5, 1) 0s forwards 1,
        show-logo-path-fill-1 1.5s ease 1.5s forwards 1;
}

.intro__logo-svg path:nth-child(2) {
    transform: translateY(-10px);

    stroke: #b19653;
    fill: transparent;

    animation: show-logo-path-draw 1.5s cubic-bezier(.5, .15, .65, .9) 0.2s forwards 1,
        show-logo-path-transform 3s cubic-bezier(.2, .7, .5, 1) 0.2s forwards 1,
        show-logo-path-fill-2 1.5s ease 1.7s forwards 1;
}

@keyframes show-logo-svg {
    75% {
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(0deg);

        opacity: 1;
    }
}

@keyframes show-logo-path-draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show-logo-path-transform {
    to {
        transform: translateY(0px);
    }
}

@keyframes show-logo-path-fill-1 {
    to {
        stroke-width: 0;
        fill: #111111;
    }
}

@keyframes show-logo-path-fill-2 {
    to {
        stroke-width: 0;
        fill: #b19653;
    }
}























