/*====================================================================*/
/*------------------------------- OFFER ------------------------------*/
/*====================================================================*/

.offer {
    position: relative;

    text-align: center;

    color: #e7e7e7;
    background-color: #111111;
}

    .offer a:not(.btn) {
        text-decoration: none;

        color: #C9B47F;
    }

    .offer a:not(.btn):hover,
    .offer a:not(.btn):focus {
        color: #78A7BB;
    }

    .offer > .layout__center {
        position: relative;
        z-index: 2;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        padding-top: 10px;

        opacity: 1;

        pointer-events: none;

        animation: none;
    }

    @media (max-width: 1219px) {

        .offer > .layout__center {
            padding-top: 1vw;
        }
    }

    @media (max-width: 1023px) {

        .offer > .layout__center {
            padding-top: 2vw;
        }
    }

    .js.no-visibility-chagne .offer--init-fade-in > .layout__center,
    .js.was-visible .offer--init-fade-in > .layout__center {
        animation: show--init 1.75s linear 0s 1 forwards,
            show 1.75s ease-out 1.75s 1 forwards;
    }

    /*bug v iOS - vynucení překreslení*/
    .js .offer:not(.offer--init-fade-in) {
        display: block;
        width: 100%;

        animation: none;
    }

        .offer__title {
            color: #e7e7e7;
        }

            .offer__title .text {
                pointer-events: auto;
            }

            /*kerning*/
            .offer__title .word1 .letter1 {
                margin-right: 0.005em;
            }

            .offer__title .word1 .letter2 {
                margin-right: -0.025em;
            }

            .offer__title .word2 .letter1 {
                margin-right: -0.055em;
                margin-right: -0.055em;
            }

            .offer__title .word2 .letter2 {
                margin-right: -0.01em;
            }

            .offer__title .word2 .letter3 {
                margin-right: -0.025em;
            }

            .offer__title .word3 .letter1 {
                margin-right: 0.005em;
            }

            .offer__title .word3 .letter2 {
                margin-right: -0.01em;
            }

            .offer__title .word3 .letter3 {
                margin-right: -0.015em;
            }

            .offer__title .word3 .letter4 {
                margin-right: -0.025em;
            }

            .offer__title .word4 .letter1 {
                margin-right: -0.015em;
            }

            .offer__title .word4 .letter2 {
                margin-right: -0.025em;
            }

            .offer__title .word4 .letter3 {
                margin-right: 0.035em;
            }

            .offer__title .word4 .letter4 {
                margin-right: 0.005em;
            }

            .offer__title .word4 .letter5 {
                margin-right: -0.01em;
            }

            .offer__title .word4 .letter6 {
                margin-right: 0.01em;
            }

            .offer__title .word4 .letter7 {
                margin-right: -0.015em;
            }

            .offer__title .word4 .letter8 {
                margin-right: 0.015em;
            }

            .offer__title .word4 .letter9 {
                margin-right: -0.005em;
            }
            /*/kerning*/

        .offer__description {
            width: 100%;
            padding-top: calc(2vh - 12px);

            font-style: italic;
            font-weight: 300;

            color: #C9B47F;
        }

        .offer__description + .offer__description {
            padding-top: 14px;
        }

            .offer__description .text {
                position: relative;
                z-index: 2;

                pointer-events: auto;
            }

        @media (min-width: 1200px) {

            .offer__description {
                font-size: 2rem;
                line-height: 3rem;
                letter-spacing: 0.01em;
            }
        }

        @media (min-width: 1024px) and (max-width: 1199px) {

            .offer__description {
                font-size: 1.875rem;
                line-height: 2.75rem;
            }
        }

        @media (min-width: 768px) and (max-width: 1023px) {

            .offer__description {
                font-size: 1.6875rem;
                line-height: 2.5rem;
            }
        }

        @media (min-width: 640px) and (max-width: 767px) {

            .offer__description {
                font-size: 1.5625rem;
                line-height: 2.5rem;
            }
        }

        @media (min-width: 480px) and (max-width: 639px) {

            .offer__description {
                font-size: 1.5625rem;
                line-height: 2.5rem;
            }
        }

        @media (max-width: 479px) {

            .offer__description {
                font-size: 1.4375rem;
                line-height: 2rem;
            }
        }

        .offer__description .small {
            font-size: 0.84375em;
            line-height: 1;
        }

/*--------------------------------------------------------------------*/
/*----------------------------- FEATURES -----------------------------*/
/*--------------------------------------------------------------------*/

    .offer__features {
        position: relative;
        z-index: 2;

        align-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        padding-top: 64px;
        margin: auto;

        text-align: center;
    }

    @media (min-width: 768px) {

        .offer__features {
            padding-bottom: 20px;
        }
    }

    @media (max-width: 767px) {

        .offer__features {
            padding-bottom: 0px;
        }
    }

        .offer__feature {
            position: relative;

            padding-bottom: calc(10vh - 120px);
            margin-bottom: 60px;
        }

        @media (min-width: 1200px) {

            .offer__feature {
                max-width: 360px;
                padding: 0 20px;
                margin-bottom: 40px;
            }
        }

        @media (min-width: 480px) and (max-width: 1199px) {

            .offer__feature {
                max-width: 340px;
                padding: 0 10px;
            }
        }

        @media (max-width: 479px) {

            .offer__feature {
                max-width: 320px;
                padding: 0 0px;
            }
        }

            .offer__feature-icon {

            }

                .offer__feature-icon-svg {
                    stroke: #bdbdbd;
                }

                    .offer__feature-icon-svg .color {
                        stroke: #BF865E;
                    }

            .offer__feature-description {
                padding-top: calc(12vh - 140px);
                margin-top: 40px;

                font-size: 1.0625rem;
                line-height: 1.588235;

                color: #e7e7e7;

                pointer-events: auto;
            }

                .offer__feature-description .small {
                    font-size: 0.8235294em;
                }

                @media (min-width: 360px) {

                    .offer__feature-description .mobile-break {
                        display: none;
                    }
                }

/*//////////////////////////// TECHNOLOGIES ////////////////////////////*/

    .offer__info-wrapper {
        width: 100%;
        max-width: 780px;
    }

    @media (max-width: 899px) {

        .offer__info-wrapper {
            max-width: 580px;
        }
    }

    @media (max-width: 767px) {

        .offer__info-wrapper {
            max-width: 640px;
        }
    }

    @media (max-width: 699px) {

        .offer__info-wrapper {
            max-width: 480px;
        }
    }

    @media (max-width: 459px) {

        .offer__info-wrapper {
            max-width: 310px;
        }
    }

    @media (max-width: 359px) {

        .offer__info-wrapper {
            max-width: 270px;
        }
    }

        .offer__info {
            width: 100%;

            font-size: 1.0625rem;
            font-style: italic;
            line-height: 1.68750rem;
            letter-spacing: 0.01em;
        }

        @media (max-width: 767px) {

            .offer__info {
                font-size: 0.875rem;
                line-height: 1.43750rem;
            }
        }

        .offer__info + .offer__info {
            margin-top: 1.68750em;
        }

            .offer__info .text {
                position: relative;
                z-index: 2;

                pointer-events: auto;
            }

        .offer__info .small {
            font-size: 0.875rem;
        }

    .offer__btn-wrapper {
        width: 100%;
        padding-top: calc(12vh - 100px);
    }

        .offer__btn {
            position: relative;
            z-index: 2;

            margin-top: 48px;
        }

/*--------------------------------------------------------------------*/
/*---------------------------- BACKGROUND ----------------------------*/
/*--------------------------------------------------------------------*/

.offer__background-layer:nth-child(1) {
    width: calc(100% + 80px);
    height: calc(100% + 500px);
}

.offer__background-layer:nth-child(2) {
    width: calc(100% + 60px);
    height: calc(100% + 400px);
}

.offer--no-parallax .offer__background-layer:nth-child(1n) {
    width: 100%;
    height: 100%;
}

    .offer__background-layer .square {
        border-color: rgba(179, 121, 78, 0.45);

        transition: background-color 2s ease 1s,
            border-color 2s ease 1s,
            opacity 1.5s ease 0s;
    }

    .no-js .section__background-layer--stop-animation .square:not(:hover),
    .js .offer__background-layer.section__background-layer--stop-animation .square:not(.hover) {
        border-color: rgba(179, 121, 78, 0.325);
    }

    .offer__background-layer:nth-child(1) .square {
        margin-top: calc(-1527px - 195px);
        margin-left: -440px;

        animation: offer__square--fade-in 2s ease-out 0s 1 backwards;
    }

    .offer__background-layer:nth-child(2) .square {
        margin-top: calc(-763.5px + 180px);
        margin-left: calc(-1527px + 260px);

        animation: offer__square--init 0.25s linear 0s 1 backwards,
            offer__square--fade-in 2s ease-out 0.25s 1 backwards;
    }

    @media (max-width: 1219px) {

        .offer__background-layer:nth-child(1) .square {
            margin-top: calc(-1527px - 195px);
            margin-left: -525px;
        }

        .offer__background-layer:nth-child(2) .square {
            margin-top: calc(-763.5px + 180px);
            margin-left: calc(-1527px + 275px);
        }
    }

@keyframes offer__square--init {
    from {
        border-color: transparent;
    }
    to {
        border-color: transparent;
    }
}

@keyframes offer__square--fade-in {
    from {
        border-color: transparent;
    }
}

    .js .offer__background-layer:not(.section__background-layer--stop-hover) .square.hover,
    .no-js .offer__background-layer:not(.section__background-layer--stop-hover) .square:hover {
        background-color: rgba(179, 121, 78, 0.1);
        border-color: rgba(179, 121, 78, 0);

        transition: background-color 1s ease 0s,
            border-color 1s ease 0s,
            opacity 1.5s ease 0s;
    }
