/*--------------------------------------------------------------------*/
/*-------------------------------- UI --------------------------------*/
/*--------------------------------------------------------------------*/

/* Outline zaměřovatelných elementů. */
a:not(.btn) {
    outline: 1px dotted rgba(0, 0, 0, 0);
}

a:not(.btn):focus {
    outline: 1px dotted rgba(0, 0, 0, 0.5);
}

::-moz-selection {
    color: white;
    background: rgba(125, 105, 55, 0.85);
}

::selection {
    color: white;
    background: rgba(125, 105, 55, 0.85);
}

.ui__target {
	position: fixed;
    top: 0;
    left: 0;

    width: 0;
    height: 0;
}

/*---------------------------- TRANSITION ----------------------------*/

/* Univerzální transition.
 * Lze přidat jakémukoliv elementu.
 * Pokud bude element s třídou .transition uvnitř elementu,
 * který má :hover, :focus nebo :active, bude se chovat stejně,
 * jako kdyby i tento element měl :hover, :focus nebo :active. */
a,
.transition,
a .transition {
    transition: all 0.275s cubic-bezier(.5, .25, .5, 1) 0s;
}

a:hover,
a:focus,
.transition:hover,
.transition:focus,
a:hover .transition,
a:focus .transition,
.transition:hover .transition,
.transition:focus .transition,
.transition-hidable:hover .transition,
.transition-hidable:focus .transition {
    transition: all 0.125s ease-out 0s;
}

.transition:active,
a:active,
a:active .transition,
.transition:active .transition,
.transition-hidable:active .transition {
    transition: all 0.05s ease-out 0s;
}

/* Transition animující vzhled stejně jako základní .transition,
 * ale upravený pro animaci výšky elementu, která zůstane
 * konzistentní i při změně stavu na :hover, :focus nebo :active. */
.transition-hideable,
a .transition-hideable {
    transition:
        all            0.3s   ease                          0s,
        color          0.275s cubic-bezier(.5, .25, .5, 1)  0s,
        transform      0.275s cubic-bezier(.5, .25, .5, 1)  0s,
        border-radius  0.275s cubic-bezier(.5, .25, .5, 1)  0s,
        border-color   0.275s cubic-bezier(.5, .25, .5, 1)  0s,
        filter         0.275s cubic-bezier(.5, .25, .5, 1)  0s,
        background     0.275s cubic-bezier(.5, .25, .5, 1)  0s;
}

.transition-hideable:hover,
.transition-hideable:focus,
.transition-hideable:hover .transition-hideable,
.transition-hideable:focus .transition-hideable,
.transition:hover .transition-hideable,
.transition:focus .transition-hideable,
a:hover .transition-hideable,
a:focus .transition-hideable {
    transition:
        all            0.3s   ease     0s,
        color          0.125s ease-out 0s,
        transform      0.125s ease-out 0s,
        border-radius  0.125s ease-out 0s,
        border-color   0.125s ease-out 0s,
        filter         0.125s ease-out 0s,
        background     0.125s ease-out 0s;
}

.transition-hideable:active,
.transition-hideable:active .transition-hideable,
.transition:active .transition-hideable,
a:active .transition-hideable {
    transition:
        all            0.3s  ease     0s,
        color          0.05s ease-out 0s,
        transform      0.05s ease-out 0s,
        border-radius  0.05s ease-out 0s,
        border-color   0.05s ease-out 0s,
        filter         0.05s ease-out 0s,
        background     0.05s ease-out 0s;
}

/*//////////////////////////// TRANSITION ////////////////////////////*/

/*---------------------------- ANIMATIONS ----------------------------*/

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show--init {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fake-visible {
    from {
        max-height: 0;
    }
    to {
        max-height: 100%;
    }
}

@keyframes fake-hidden {
    from {
        max-height: 100%;
    }
    to {
        max-height: 0;
    }
}

/*//////////////////////////// ANIMATIONS ////////////////////////////*/


/*---------------------------- ICONS ----------------------------*/

/* Přidá elementům ikonu (sprite). */
.icon {
    position: relative;

    display: inline-block;

    background: url("../../img/sprites.png") no-repeat;
}

.icon-before,
.icon-after {
    position: relative;
}

.icon-before:before,
.icon-after:after {
    content: "";

    position: absolute;

    background: url("../../img/sprites.png") no-repeat;
}

/* Pro elementy button. */
.icon-btn {
    background: url("../../img/sprites.png") no-repeat;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;

    touch-action: manipulation;

    transition: all 0.275s cubic-bezier(.5, .25, .5, 1) 0s;
}

.icon-btn::-moz-focus-inner {
    padding: 0;

    border: 0;
}

.icon-btn:hover,
.icon-btn:focus {
    transition: all 0.125s ease-out 0s;
}

.icon-btn:active {
    transition: all 0.05s ease-out 0s;
}

/*---------------------------- ZOOM ----------------------------*/

.ui__perspective {
    perspective: 100px;
    perspective-origin: 50% 150vh;
}

    .ui__zoom-out {
        transition: 0.5s cubic-bezier(.5, 0, .6, 0.9) 0.25s;
        will-change: transform;
    }

    .no-js #html:target ~ .ui__perspective .ui__zoom-out,
    .no-js #css:target ~ .ui__perspective .ui__zoom-out,
    .no-js #js:target ~ .ui__perspective .ui__zoom-out,
    .ui__content--technologies .ui__zoom-out {
        transform: translateZ(-8px);

        filter: blur(2px) saturate(80%);

        transition: 0.35s cubic-bezier(.2, .7, .3, 1) 0s;
    }

    .no-js #html:target ~ .ui__perspective .ui__zoom-out,
    .no-js #css:target ~ .ui__perspective .ui__zoom-out,
    .no-js #js:target ~ .ui__perspective .ui__zoom-out,
    .edge .ui__zoom-out,
    .performance--low .ui__zoom-out {
        filter: none;
    }

    .performance--very-low .ui__zoom-out {
        transform: none;

        transition: none;
    }

    .ui__zoom-out::after {
        content: "";

        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1000;

        transform: translateZ(8px);

        width: 100%;
        height: 100%;

        background-color: #000;
        opacity: 0;

        pointer-events: none;

        transition: opacity 0.5s cubic-bezier(0, 0, .8, 0) 0s;
    }

    .no-js #html:target ~ .ui__perspective .ui__zoom-out,
    .no-js #css:target ~ .ui__perspective .ui__zoom-out,
    .no-js #js:target ~ .ui__perspective .ui__zoom-out,
    .ui__content--technologies .ui__zoom-out::after {
        opacity: 0.5;

        transition: opacity 0.5s cubic-bezier(.15, .75, .25, 1) 0.1s;
    }

/*--------------------------------------------------------------------*/
/*------------------------------ INPUTS ------------------------------*/
/*--------------------------------------------------------------------*/

/* Vizuálně skryje element.
 * Slouží hlavně pro skrytí checkboxů použitých jako přepínače obsahu,
 * kde nemá být checkbox vidět a přepíná se labelem. */
.ui__hidden-toggle {
    position: absolute;

    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="step"],
input[type^="date"],
input[type="time"] {
    background: none;
    border: none;
    border-radius: 0px;
    -webkit-appearance: none;
       -moz-appearance: none;

    pointer-events: auto;

    transition:
        color            0.275s cubic-bezier(.5, .25, .5, 1) 0s,
        border-color     0.275s cubic-bezier(.5, .25, .5, 1) 0s,
        opacity          0.275s cubic-bezier(.5, .25, .5, 1) 0s,
        background-color 0.275s cubic-bezier(.5, .25, .5, 1) 0s,
        filter           0.275s cubic-bezier(.5, .25, .5, 1) 0s,
        border-width     0.3s   ease                         0s,
        margin           0.3s   ease                         0s,
        padding          0.3s   ease                         0s,
        line-height      0.3s   ease                         0s;
}

/*
input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}
*/
/*
select::-ms-expand {
    display: none;
}
*/

select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="step"]:hover,
input[type^="date"]:hover,
input[type="time"]:hover,
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="step"]:focus,
input[type^="date"]:focus,
input[type="time"]:focus {
    transition:
        color            0.125s ease-out 0s,
        border-color     0.125s ease-out 0s,
        opacity          0.125s ease-out 0s,
        background-color 0.125s ease-out 0s,
        filter           0.125s ease-out 0s,
        border-width     0.3s   ease     0s,
        margin           0.3s   ease     0s,
        padding          0.3s   ease     0s,
        line-height      0.3s   ease     0s;
}

/*---------------------------- UI FORM ----------------------------*/

.ui__form-item {
	margin-bottom: 1.4375rem;

    font-size: 0;
}

    select.ui__form-field,
    textarea.ui__form-field,
    input[type="text"].ui__form-field,
    input[type="password"].ui__form-field,
    input[type="search"].ui__form-field,
    input[type="tel"].ui__form-field,
    input[type="email"].ui__form-field,
    input[type="number"].ui__form-field,
    input[type="step"].ui__form-field,
    input[type^="date"].ui__form-field,
    input[type="time"].ui__form-field {
        width: 100%;
        height: 3.25rem;
        padding: 0 20px;

        font-family: inherit;
        font-size: 1.25rem;
        font-weight: 400;
        vertical-align: top;
        line-height: 3.125rem;

        border: 1px solid;
        box-shadow: none;
        outline: none;
    }

    /*odstraní zabarvení automaticky vyplněných polí v Chromu*/
    @supports (animation-name: ui__form--clear-autofill) {

        input[type="text"].ui__form-field:-webkit-autofill,
        input[type="password"].ui__form-field:-webkit-autofill,
        input[type="search"].ui__form-field:-webkit-autofill,
        input[type="tel"].ui__form-field:-webkit-autofill,
        input[type="email"].ui__form-field:-webkit-autofill,
        input[type="number"].ui__form-field:-webkit-autofill,
        input[type="step"].ui__form-field:-webkit-autofill,
        input[type^="date"].ui__form-field:-webkit-autofill,
        input[type="time"].ui__form-field:-webkit-autofill {
            -webkit-text-fill-color: #e7e7e7;
            animation-name: ui__form--clear-autofill;
            animation-fill-mode: both;
        }
    }

    @keyframes ui__form--clear-autofill {
        to {
            background: transparent;
        }
    }
    /*/*/

    @media (max-width: 479px) {

        select.ui__form-field,
        textarea.ui__form-field,
        input[type="text"].ui__form-field,
        input[type="password"].ui__form-field,
        input[type="search"].ui__form-field,
        input[type="tel"].ui__form-field,
        input[type="email"].ui__form-field,
        input[type="number"].ui__form-field,
        input[type="step"].ui__form-field,
        input[type^="date"].ui__form-field,
        input[type="time"].ui__form-field {
            width: 100%;
            height: 3rem;
            padding: 0 17px;

            font-size: 1.0625rem;
            line-height: 2.875rem;
        }
    }

    textarea.ui__form-field {
        min-width: 100%;
        height: auto;
        min-height: 9.75rem;
        padding-top: 14px;
        padding-bottom: 14px;

        font-size: 1.0625rem;
        line-height: 1.6875rem;
    }

    @media (max-width: 479px) {

        textarea.ui__form-field {
            min-height: 9rem;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }

    .ui__form--dark select.ui__form-field,
    .ui__form--dark textarea.ui__form-field,
    .ui__form--dark input[type="text"].ui__form-field,
    .ui__form--dark input[type="password"].ui__form-field,
    .ui__form--dark input[type="search"].ui__form-field,
    .ui__form--dark input[type="tel"].ui__form-field,
    .ui__form--dark input[type="email"].ui__form-field,
    .ui__form--dark input[type="number"].ui__form-field,
    .ui__form--dark input[type="step"].ui__form-field,
    .ui__form--dark input[type^="date"].ui__form-field,
    .ui__form--dark input[type="time"].ui__form-field {
        color: #e7e7e7;
        border-color: rgba(189, 189, 189, 0.5);
    }

    .ui__form--dark select.ui__form-field:hover,
    .ui__form--dark textarea.ui__form-field:hover,
    .ui__form--dark input[type="text"].ui__form-field:hover,
    .ui__form--dark input[type="password"].ui__form-field:hover,
    .ui__form--dark input[type="search"].ui__form-field:hover,
    .ui__form--dark input[type="tel"].ui__form-field:hover,
    .ui__form--dark input[type="email"].ui__form-field:hover,
    .ui__form--dark input[type="number"].ui__form-field:hover,
    .ui__form--dark input[type="step"].ui__form-field:hover,
    .ui__form--dark input[type^="date"].ui__form-field:hover,
    .ui__form--dark input[type="time"].ui__form-field:hover {
        border-color: #CEB77E;
    }

    .ui__form--dark select.ui__form-field:focus,
    .ui__form--dark textarea.ui__form-field:focus,
    .ui__form--dark input[type="text"].ui__form-field:focus,
    .ui__form--dark input[type="password"].ui__form-field:focus,
    .ui__form--dark input[type="search"].ui__form-field:focus,
    .ui__form--dark input[type="tel"].ui__form-field:focus,
    .ui__form--dark input[type="email"].ui__form-field:focus,
    .ui__form--dark input[type="number"].ui__form-field:focus,
    .ui__form--dark input[type="step"].ui__form-field:focus,
    .ui__form--dark input[type^="date"].ui__form-field:focus,
    .ui__form--dark input[type="time"].ui__form-field:focus {
        border-color: #79A9BD;
    }

    .ui__form--dark .ui__form-item--error select.ui__form-field:invalid:not(:focus):not(:hover),
    .ui__form--dark .ui__form-item--error textarea.ui__form-field:invalid:not(:focus):not(:hover),
    .ui__form--dark .ui__form-item--error input[type="text"].ui__form-field:invalid:not(:focus):not(:hover),
    .ui__form--dark .ui__form-item--error input[type="password"].ui__form-field:invalid:not(:focus):not(:hover),
    .ui__form--dark .ui__form-item--error input[type="search"].ui__form-field:invalid:not(:focus):not(:hover),
    .ui__form--dark .ui__form-item--error input[type="tel"].ui__form-field:invalid:not(:focus):not(:hover),
    .ui__form--dark .ui__form-item--error input[type="email"].ui__form-field:invalid:not(:focus):not(:hover),
    .ui__form--dark .ui__form-item--error input[type="number"].ui__form-field:invalid:not(:focus):not(:hover),
    .ui__form--dark .ui__form-item--error input[type="step"].ui__form-field:invalid:not(:focus):not(:hover),
    .ui__form--dark .ui__form-item--error input[type^="date"].ui__form-field:invalid:not(:focus):not(:hover),
    .ui__form--dark .ui__form-item--error input[type="time"].ui__form-field:invalid:not(:focus):not(:hover) {
        border-color: #D07E5B;
    }

    .ui__form-label {
        display: block;
        margin-bottom: 0.25rem;

        font-size: 1.25rem;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 0.02em;

        pointer-events: auto;
    }

    @media (max-width: 479px) {

        .ui__form-label {
            font-size: 1.0625rem;
        }
    }

    .ui__form--dark .ui__form-label {
        color: #e7e7e7;
    }

    .ui__form-error {
        padding: 0;

	    font-size: 0.875rem;
        font-style: italic;
        line-height: 0rem;
        font-weight: 600;
        letter-spacing: 0.01em;

        color: #D07E5B;
        opacity: 0;
        visibility: hidden;

        overflow: hidden;

        pointer-events: auto;

        transition: opacity 0.25s ease 0s,
            line-height 0.25s ease 0.125s,
            padding 0.25s ease 0.125s,
            visibility 0s linear 0.375s;
    }

    .ui__form-item--error-type .ui__form-error--type,
    .ui__form-item--error-general .ui__form-error--general,
    .ui__form-item--error-required .ui__form-error--required {
        padding: 4px 0;

        line-height: 1.25rem;

        opacity: 1;
        visibility: visible;

        transition: opacity 0.25s ease 0.125s,
            line-height 0.25s ease 0s,
            padding 0.25s ease 0s;
    }

    .ui__form--dark:not(.ui__form--ok):not(.ui__form--error):invalid .btn:hover,
    .ui__form--dark:not(.ui__form--ok):not(.ui__form--error):invalid .btn:focus {
        color: #fff;
        background-color: #C06C47;
        border-color: #C06C47;
    }

    .ui__form--dark:not(.ui__form--ok):not(.ui__form--error):invalid .btn:active {
        color: #D07E5B;
        background-color: transparent;
        border-color: #D07E5B;
    }
