/*====================================================================*/
/*-------------------------------- UI --------------------------------*/
/*====================================================================*/

/* Outline zaměřovatelných elementů. */
:focus {
    outline: 1px dotted rgba(0, 0, 0, 0.5);
}

.inverse-focus:focus,
.inverse-focus :focus {
    outline-color: rgba(255, 255, 255, 0.5);
}

:focus-visible {
    outline: 2px solid rgb(0, 0, 0);
}

.inverse-focus:focus-visible,
.inverse-focus :focus-visible {
    outline-color: rgb(255, 255, 255);
}

:focus:not(:focus-visible) {
    outline: none;
}

:focus:not(:-moz-focusring) {
    outline: none;
}

.custom-focus {
    outline: none;
}

::-moz-selection {
    color: white;
    background: rgba(123, 104, 57, 0.85);
}

::selection {
    color: white;
    background: rgba(123, 104, 57, 0.85);
}

/*--------------------------------------------------------------------*/
/*-------------------------- ACCESSIBILITY ---------------------------*/
/*--------------------------------------------------------------------*/

/* Navigace pro lepší přístupnost.
* Při spuštění webu se pomocí klávesy tab zobrazí v levém horním rohu
* možnosti přejít na hlavní navigaci nebo obsah.
*/

.ui__accessibility-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999999;

    padding: 8px 12px;

    font-family: serif;
    font-size: 1.25rem;
    letter-spacing: 0;

    color: #000;
    background-color: #fff;
    border: 2px solid #000;

    overflow: hidden;
}

.ui__accessibility-nav,
.ui__accessibility-nav:focus,
.ui__accessibility-nav:hover {
    transition: none;
}

.ui__accessibility-nav:not(:focus) {
    width: 0;
    height: 0;
    padding: 0;

    border: none;
}

/*--------------------------------------------------------------------*/
/*--------------------------- TRANSITION -----------------------------*/
/*--------------------------------------------------------------------*/

/* Univerzální transition.
 * Lze přidat jakémukoliv elementu.
 * Pokud bude element s třídou .transition uvnitř elementu,
 * který má :hover, :focus nebo :active, bude se chovat stejně,
 * jako kdyby i tento element měl :hover, :focus nebo :active. */
a,
.transition,
a .transition {
    transition: all 0.275s cubic-bezier(.5, .25, .5, 1) 0s;
}

a:hover,
a:focus,
.transition:hover,
.transition:focus,
a:hover .transition,
a:focus .transition,
.transition:hover .transition,
.transition:focus .transition,
.transition-hidable:hover .transition,
.transition-hidable:focus .transition {
    transition: all 0.125s ease-out 0s;
}

.transition:active,
a:active,
a:active .transition,
.transition:active .transition,
.transition-hidable:active .transition {
    transition: all 0.05s ease-out 0s;
}

/* Transition animující vzhled stejně jako základní .transition,
 * ale upravený pro animaci výšky elementu, která zůstane
 * konzistentní i při změně stavu na :hover, :focus nebo :active. */
/*.transition-hideable,
a .transition-hideable {
    transition:
        all            0.3s   ease                          0s,
        color          0.275s cubic-bezier(.5, .25, .5, 1)  0s,
        transform      0.275s cubic-bezier(.5, .25, .5, 1)  0s,
        border-radius  0.275s cubic-bezier(.5, .25, .5, 1)  0s,
        border-color   0.275s cubic-bezier(.5, .25, .5, 1)  0s,
        filter         0.275s cubic-bezier(.5, .25, .5, 1)  0s,
        background     0.275s cubic-bezier(.5, .25, .5, 1)  0s;
}

.transition-hideable:hover,
.transition-hideable:focus,
.transition-hideable:hover .transition-hideable,
.transition-hideable:focus .transition-hideable,
.transition:hover .transition-hideable,
.transition:focus .transition-hideable,
a:hover .transition-hideable,
a:focus .transition-hideable {
    transition:
        all            0.3s   ease     0s,
        color          0.125s ease-out 0s,
        transform      0.125s ease-out 0s,
        border-radius  0.125s ease-out 0s,
        border-color   0.125s ease-out 0s,
        filter         0.125s ease-out 0s,
        background     0.125s ease-out 0s;
}

.transition-hideable:active,
.transition-hideable:active .transition-hideable,
.transition:active .transition-hideable,
a:active .transition-hideable {
    transition:
        all            0.3s  ease     0s,
        color          0.05s ease-out 0s,
        transform      0.05s ease-out 0s,
        border-radius  0.05s ease-out 0s,
        border-color   0.05s ease-out 0s,
        filter         0.05s ease-out 0s,
        background     0.05s ease-out 0s;
}*/

/*--------------------------------------------------------------------*/
/*--------------------------- ANIMATIONS -----------------------------*/
/*--------------------------------------------------------------------*/

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show--init {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fake-visible {
    from {
        max-height: 0;
    }
    to {
        max-height: none;
    }
}

@keyframes fake-hidden {
    from {
        max-height: none;
    }
    to {
        max-height: 0;
    }
}

/*--------------------------------------------------------------------*/
/*------------------------------ ICONS -------------------------------*/
/*--------------------------------------------------------------------*/

/* Přidá elementům ikonu (sprite). */
.icon {
    position: relative;

    display: inline-block;

    /*background: url("../../img/sprites.png") no-repeat;*/
}

/*.icon-before,
.icon-after {
    position: relative;
}

.icon-before:before,
.icon-after:after {
    content: "";

    position: absolute;

    background: url("../../img/sprites.png") no-repeat;
}*/

/* Pro elementy button. */
/*.icon-btn {
    background: url("../../img/sprites.png") no-repeat;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;

    touch-action: manipulation;

    transition: all 0.275s cubic-bezier(.5, .25, .5, 1) 0s;
}

.icon-btn::-moz-focus-inner {
    padding: 0;

    border: 0;
}

.icon-btn:hover,
.icon-btn:focus {
    transition: all 0.125s ease-out 0s;
}

.icon-btn:active {
    transition: all 0.05s ease-out 0s;
}*/

/*--------------------------------------------------------------------*/
/*------------------------------- ZOOM -------------------------------*/
/*--------------------------------------------------------------------*/

.ui__perspective {
    perspective: 100px;
    perspective-origin: 50% 150vh;

    width: 100%;

    background-color: #000;

    overflow: hidden;
}

.ff-android .ui__perspective {
	perspective: none;
}

    .ui__zoom-out {
        transition: 0.5s cubic-bezier(.5, 0, .6, 0.9) 0.25s;
        will-change: transform;
    }

    .no-js #html:target ~ .ui__perspective .ui__zoom-out,
    .no-js #css:target ~ .ui__perspective .ui__zoom-out,
    .no-js #js:target ~ .ui__perspective .ui__zoom-out,
    .ui__content--technologies .ui__zoom-out {
        transform: translateZ(-8px);

        filter: blur(2px) saturate(80%);

        transition: 0.35s cubic-bezier(.2, .7, .3, 1) 0s;
    }

    .no-js #html:target ~ .ui__perspective .ui__zoom-out,
    .no-js #css:target ~ .ui__perspective .ui__zoom-out,
    .no-js #js:target ~ .ui__perspective .ui__zoom-out,
    .performance--low .ui__zoom-out {
        filter: none;
    }

    .performance--very-low .ui__zoom-out {
        transform: none;

        transition: none;
    }

    .ui__zoom-out::after {
        content: "";

        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1000;

        width: 100%;
        height: 100%;

        transform: translateZ(8px);

        background-color: #000;
        opacity: 0;

        pointer-events: none;

        transition: opacity 0.5s cubic-bezier(0, 0, .8, 0) 0s;
    }

    .no-js #html:target ~ .ui__perspective .ui__zoom-out,
    .no-js #css:target ~ .ui__perspective .ui__zoom-out,
    .no-js #js:target ~ .ui__perspective .ui__zoom-out,
    .ui__content--technologies .ui__zoom-out::after {
        opacity: 0.5;

        transition: opacity 0.5s cubic-bezier(.15, .75, .25, 1) 0.1s;
    }

/*--------------------------------------------------------------------*/
/*------------------------------ INPUTS ------------------------------*/
/*--------------------------------------------------------------------*/

/* Vizuálně skryje element.
 * Slouží hlavně pro skrytí checkboxů použitých jako přepínače obsahu,
 * kde nemá být checkbox vidět a přepíná se labelem. */
.ui__hidden-toggle {
    position: absolute;

    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="step"],
input[type^="date"],
input[type="time"] {
    background: none;
    border: none;
    border-radius: 0px;
    -webkit-appearance: none;
       -moz-appearance: none;

    pointer-events: auto;

    transition:
        color            0.275s cubic-bezier(.5, .25, .5, 1) 0s,
        border-color     0.275s cubic-bezier(.5, .25, .5, 1) 0s,
        opacity          0.275s cubic-bezier(.5, .25, .5, 1) 0s,
        background-color 0.275s cubic-bezier(.5, .25, .5, 1) 0s,
        filter           0.275s cubic-bezier(.5, .25, .5, 1) 0s,
        border-width     0.3s   ease                         0s,
        margin           0.3s   ease                         0s,
        padding          0.3s   ease                         0s,
        line-height      0.3s   ease                         0s;
}

/*
input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}
*/
/*
select::-ms-expand {
    display: none;
}
*/

select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="step"]:hover,
input[type^="date"]:hover,
input[type="time"]:hover,
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="step"]:focus,
input[type^="date"]:focus,
input[type="time"]:focus {
    transition:
        color            0.125s ease-out 0s,
        border-color     0.125s ease-out 0s,
        opacity          0.125s ease-out 0s,
        background-color 0.125s ease-out 0s,
        filter           0.125s ease-out 0s,
        border-width     0.3s   ease     0s,
        margin           0.3s   ease     0s,
        padding          0.3s   ease     0s,
        line-height      0.3s   ease     0s;
}

/*--------------------------------------------------------------------*/
/*------------------------------- OTHER ------------------------------*/
/*--------------------------------------------------------------------*/

.ui__github {
	position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;

    opacity: 0;
}

.no-js .ui__github,
.js.no-visibility-chagne .ui__github,
.js.was-visible .ui__github {
    animation: show--init 3.5s linear 0s 1 forwards,
        show 2s ease 3.5s 1 forwards;
}

@media (min-width: 768px) {

    .ui__github {
        right: 0;
    }
}

@media (max-width: 767px) {

    .ui__github {
        left: 0;
    }
}

    .ui__github svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 27px;
        height: 27px;
        margin: auto;

        fill: transparent;
        stroke: #dbdbdb;
        stroke-width: 1px;
    }

    .ui__github:hover svg,
    .ui__github:focus svg {
        stroke: #C9B47F;
    }
